<template name='trailGuideDashboard'>
  <div class='container-fluid'>
    <div class='row text-center'>
      <h1><i class="fa fa-map-signs" aria-hidden="true"></i> Trail Guide</h1>
    </div>
    <div class='row filters text-center'>
      <a class="btn btn-default" role="button" data-toggle="collapse" href="#orderFilters" aria-expanded="false" aria-controls="orderFilters">Filters</a>
    </div>
    <div class="collapse" id="orderFilters">
      <div class="well text-center">
        <div class='row'>
          <div class='col-sm-3'>
            Limit: <input class="form-control" name="limit">
          </div>
        </div>
      </div>
    </div>
    <div class='row text-center'>
      <h3>Orders</h3>
    </div>
    <div class='row'>
      <table class='table table-hover table-condensed'>
        <colgroup class='{{sortingBy "orderNumber"}}'></colgroup>
        <colgroup></colgroup>
        <colgroup></colgroup>
        <colgroup class='{{sortingBy "billing.invoice.total"}}'></colgroup>
        <colgroup class='{{sortingBy "createdAt"}}'></colgroup>
        <colgroup class='{{sortingBy "advancedFulfillment.transitTime"}}'></colgroup>
        <colgroup class='{{sortingBy "advancedFulfillment.shipmentDate"}}'></colgroup>
        <colgroup class='{{sortingBy "startTime"}}'></colgroup>
        <colgroup class='{{sortingBy "endTime"}}'></colgroup>
        <colgroup class='{{sortingBy "advancedFulfillment.returnDate"}}'></colgroup>
        <colgroup class='{{sortingBy "rentalDays"}}'></colgroup>
        <colgroup class='{{sortingBy "shipping.address.region"}}'></colgroup>
        <colgroup class='{{sortingBy "billing.address.region"}}'></colgroup>
        <colgroup class='{{sortingBy "advancedFulfillment.workflow.status"}}'></colgroup>
        <thead>
          <tr>
            <th data-field='orderNumber' class='sortField'>{{{upOrDown 'orderNumber'}}}#</th>
            <th>Customer</th>
            <th>Contact</th>
            <th data-field='billing.invoice.total' class='sortField'>{{{upOrDown 'billing.invoice.total'}}}Total</th>
            <th data-field='createdAt' class='sortField'>{{{upOrDown 'createdAt'}}}Placed</th>
            <th data-field='advancedFulfillment.transitTime' class='sortField'>{{{upOrDown 'advancedFulfillment.transitTime'}}}Transit</th>
            <th data-field='advancedFulfillment.shipmentDate' class='sortField'>{{{upOrDown 'advancedFulfillment.shipmentDate'}}}Shippin</th>
            <th data-field='startTime' class='sortField'>{{{upOrDown 'startTime'}}}Rental Start</th>
            <th data-field='endTime' class='sortField'>{{{upOrDown 'endTime'}}}Rental End</th>
            <th data-field='advancedFulfillment.returnDate' class='sortField'>{{{upOrDown 'advancedFulfillment.returnDate'}}}Rental End</th>
            <th data-field='rentalDays' class='sortField'>{{{upOrDown 'rentalDays'}}}Length</th>
            <th data-field='shipping.address.region' class='sortField'>{{{upOrDown 'shipping.address.region'}}}Ship To</th>
            <th data-field='billing.address.region' class='sortField'>{{{upOrDown 'billing.address.region'}}}Bill To</th>
            <th data-field='advancedFulfillment.workflow.status' class='sortField'>{{{upOrDown 'advancedFulfillment.workflow.status'}}}Status</th>

          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            <tr>
              <td>{{orderNumber}}</td>
              <td>{{customer}}</td>
              <td>{{{contactInfo}}}</td>
              <td>${{total}}</td>
              <td>{{clearDate createdAt}}</td>
              <td>{{advancedFulfillment.transitTime}}</td>
              <td>{{clearDate advancedFulfillment.shipmentDate}}</td>
              <td>{{clearDate startTime}}</td>
              <td>{{clearDate endTime}}</td>
              <td>{{clearDate advancedFulfillment.returnDate}}</td>
              <td>{{rentalDays}}</td>
              <td>{{region 'shipping'}}</td>
              <td>{{region 'billing'}}</td>
              <td>{{humanizeStatus}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
